@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html, #main-app-container{
    background-color: aquamarine;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.page-container{
    width: 100%;
    height: 100%;
    transition: height 0.5s, opacity 0.5s;
    /**/
}

#logo-container{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -75px 0 0-75px;
}

#logo-container-symbol{
    width: 66%;
    height: 66%;
    background-image: url("../media/img/heart-icon.png");
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 3% auto;
    border-radius: 50%;
}

#logo-container-label{
    text-align: center;
    text-transform: uppercase;
    background-color: red;
    width: 0px;
    height: 10px;
    border-radius: 5px;
    border: 2px red solid;
    transition: width 5s;
}

#store-title-container{
    position: relative;
    width: 100%;
    height: 15%;
    font-size: 0;
    background-color: rgba(255, 255, 255, 1.0);
    color: (0,0,0,1.0);
    cursor: inherit;
    transition: background-color 5s, color 0.5s;
    font-family: "Open Sans", sans-serif;
}

#store-title-container:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: (0,0,0,0.7);
}

#begin-order-button-container:hover, #begin-order-button-container:focus{
    background-color: rgba(255, 0, 0, 1.0);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.title-line-container{
    position: absolute;
    left: 1%;
    width: 99%;
    height: 50%;
    font-size: 36px;
    z-index: 0;
    text-align: center;
    font-weight: 900;
}

#title-line-0-container{
    top: 1%;
}

#title-line-1-container{
    top: 50%;
}

#menu-item-container{
    position: absolute;
    left: 2%;
    top: 2%;
    background-image: url("../media/img/menu-icon.png");
    background-size: 100% 100%;
    border-radius: 50%;
    z-index: 10;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-image 0.5s;
}

#menu-item-container:hover{
    background-image: url("../media/img/hov_ig_logo.png");
}

#video-preview-container{
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 506px;
    height: 420px;
    margin: 5% auto;
    opacity: 1.0;
    transition: background-image 0.5s;
    
    background-image: url("../media/img/annesflowershop.gif");
    background-size: auto 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    box-shadow: 25px 20px 10px white;
    -web-kit-box-shadow: 25px 20px 10px white;
    -moz-box-shadow: 25px 20px 10px white;
}

#video-container{
    display: none;
    margin: 2% auto;
    opacity: 0;
    transition: opacity 0.5s;
}

#video-preview-button-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);/**/
    color: rgba(255, 255, 255, 1.0);
    border: 5px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    z-index: 10;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    cursor: pointer;
    opacity: 1.0;
    transition: background-color 0.5s, color 0.5s, opacity: 0.5s;
}

#exit-video-preview-button-container{
    font-family: "Open Sans", sans-serif;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 5%;
    z-index: 100;
    border-radius: 50%;
    left: 50%;
    margin-left: -38px;
    background-color: rgba(255, 0, 0, 0.9);
    text-align: center;
    line-height: 75px;
    cursor: pointer;
    color: white;
    font-size: 36px;
    font-weight: 900;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
}

#video-preview-button-container:hover{
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
}

#begin-order-button-container{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    line-height: 100px;
    font-weight: 900;
    background-color:rgba(255, 255, 255, 1.0); 
    transition: background-color 0.5s, border-radius 0.5s, color 0.5s;
    position: absolute;
    margin-left: -40%;
    bottom: 10%;
    z-index: 5;
    left: 50%;
    font-family: 'Varela Round', sans-serif;
}

#checkout-cart-button-container{
    /*font-family: "Montserrat", sans-serif;*/
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url("../media/img/cart-icon.png");
    background-color: white;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 2%;
    top: 2%;
    position: absolute;
    border: 2px black solid;
    z-index: 5;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 900;
    cursor: pointer;
}

#exit-payment-module-button-container{
    width: 100%;
    height: 15%;
    min-height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#paypal-payment-container{
    width: 300px;
    height: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -63px auto 0 -150px;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("../media/img/paypal-payment-bay-background-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 0px 0px white;
    transition: box-shadow 0.5s;
}

#paypal-payment-container:hover{
    box-shadow: 10px 10px 10px white;
}

#page-2-container{
    background-color: white;
}

#page-overlay-container{
    z-index: 8;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}
#page-1-container, #page-2-container, #page-3-container, #page-4-container, #page-overlay-container{
    height: 0;
    display: none;
}
.option-container{
    width: 100%;
    height: 30%;
    position: relative;
    background-color: white;
}
.option-label{
    width: 100%;
    height: 100%;
    min-height: 150px;
    line-height: 150px;
    font-size: 30px;
    font-weight: 900;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.option-content-section{
    background-color: white;
    width: 80%;
    min-width: 150px;
    margin: 10% auto 0 auto;
    text-align: justify;
}

.content-container{
    width: 80%;
    min-width: 150px;
    margin: 0 auto;
    text-align: justify;
}
.tap-to-close-button-container{
    margin-top: 25%;
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.option-content{
    display: none;
    width: 90%;
    height: 50%;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

#selected-store-header-container{
    line-height: 100px;
    font-size: 0;
    position: relative;
}

.cart-action-button{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    line-height: 100px;
    font-size: 30;
    font-weight: 900;
    color: black;
}

#flower-care-package-selection-container{
    display: block;
    width: 300px;
    height: 75px;
    margin: 10% auto 0 auto;
    border-radius: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

#complete-form-button{
    width: 100%;
    height: 15%;
    min-height: 150px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1.0);
    font-size: 40px;
    line-height: 150px;
    font-weight: 900;
    background-color:rgba(255, 255, 255, 1.0); 
    transition: background-color 0.5s, border-radius 0.5s, color 0.5s;
    position: absolute;
    bottom: 0;
    z-index:50;
    left: 0;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

#return-to-main-button-container{
    width: 100%;
    height: 5%;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
    cursor: pointer;
    background-image: url("../media/img/heart-icon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.5s, color 0.5s;
}

#submit-button-row-container{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    height: auto;
    margin-left: -100px;
}

#table-title-container{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}
#table-container{
    display: block;
    width: 300px;
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -150px;
}

#payment-cover-container{
    text-align: center;
    z-index: 100;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background-color 0.5s;
}

#payment-cover-container:hover{
    background-color: rgba(255, 255, 255, 1.0);
}

#return-to-main-button-container:hover{
    background-color: rgba(255, 0, 0, 1.0);
    color: white;
}

#complete-form-button:hover, #complete-form-button:focus{
    background-color: rgba(0, 255, 0, 1.0);
    color: white;
}

#care-package-preview-container{
    width: 350px;
    height: 350px;
    margin: 5% auto;
    background-image: url("../media/img/care-package-icon.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#care-package-feature-list-container{
    width: 300px;
    height: auto;
    margin: 5% auto;
}