<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>ANNE's FLOWER SHOP</title>
    <link rel="stylesheet" href="../css/flowerstyle.css" href="text/css"/>
    <!--<script src="../js/script.js"></script>-->
    <script src="../js/socket.io.js"></script>
</head>
<body>
    <iframe id="iframe-container"
    title="Anne's Flower Shope"
    width="300"
    height="200"
    src="./frame">
    </iframe>
</body>
</html>