<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>ANNE's FLOWER SHOP</title>
    <link rel="stylesheet" href="../css/flowerstyle.css" href="text/css"/>
    <!--<script src="../js/script.js"></script>-->
    <script src="../js/socket.io.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var connection = io.connect(location.host);
            connection.emit("CLIENTconnectToSERVER", {status: true});
            
            connection.on("SERVERloadStoreTargetsOnCLIENT", function(data){
                if(data.status){
                    
                    
                    document.getElementById("logo-container-label").style.width = "100%";
                    
                    setTimeout(function(){
                        pages[0].style.opacity = 0;
                        pages[0].style.height = "0";

                        pages[1].style.display = "block";
                        pages[1].style.height = "100%"
                        pages[1].style.opacity = 1.0;
                        
                        setTimeout(function(){
                            pages[0].style.display = "none";
                            
                            console.log(data.style);
                    
                            if(data.style.length>0){
                                 console.log("change styling to custom screen setting");
                                for(var o=0; o<data.style.length; o++){
                                    (function(){
                                        let name = data.style[o][0];
                                        let properties = data.style[o][1];
                                        let transformTarget = null;
                                        
                                        if(name.charAt(0)==="#"){
                                            transformTarget = document.getElementById(name.substring(1));
                                        }
                                        else if(name.charAt(0)==="."){
                                            transformTarget = document.getElementsByClassName(name.substring(1));
                                        }
                                        console.log(`changing ${name} property...`);
                                        console.log(transformTarget);
                                        
                                        for(var p = 0; p<properties.length; p++){
                                            (function(){
                                                transformTarget.style[properties[p][0]] = properties[p][1];
                                            })();
                                        }

                                    })();
                                }
                             }
                            else{
                                console.log("set styling to initial mobile screen setting");
                            }
                        }, 500);
                    }, 6500);
                }
            });
            
            var pages =
                [
                    document.getElementById("page-0-container"),
                    document.getElementById("page-1-container"),
                    document.getElementById("page-2-container"),
                    document.getElementById("page-3-container"),
                    document.getElementById("page-overlay-container")
                ];
            var buttons = 
                [
                    document.getElementById("video-preview-button-container"),  //0
                    document.getElementById("exit-video-preview-button-container"), //1
                    document.getElementById("begin-order-button-container"),    //2
                    document.getElementById("exit-payment-module-button-container"),    //3
                    document.getElementById("menu-item-container"), //4 
                    document.getElementById("track-order-option-label"),    //5
                    document.getElementById("about-company-option-label"),  //6
                    document.getElementById("track-order-tap-to-close-button-container"),   //7
                    document.getElementById("about-company-tap-to-close-button-container"), //8
                    /*return-to-main-button-container"),*/
                ];
            
            var mediaContainer = [

                document.getElementById("video-container"),
                document.getElementById("video-preview-container"),
            ]
            
            var videoLogic = {
                isPlaying: false,
                isFullScreen: false
            };
            
            var menuLogic = {
                optionCurrentlyOpen: false,
                currentOptionName: null,
                menuCurrentlyOpen: false
            };
            
            buttons[8].addEventListener("click", function(){
                document.getElementById("track-order-option").style.display = "block";
                document.getElementById("track-order-option").style.height = "30%";
                document.getElementById("track-order-option-label").style.height = "100%";
                document.getElementById("track-order-option").style.opacity = 1.0;
                
                
                document.getElementById("about-company-option").style.height = "30%";
                
                
                document.getElementById("about-company-option-content").style.height = 0;
                document.getElementById("about-company-option-content").style.opacity = 0;
                setTimeout(function(){
                    document.getElementById("about-company-option-content").style.display = "none";
                }, 500);
                
                menuLogic.optionCurrentlyOpen = false;
            });
            
            buttons[7].addEventListener("click", function(){
                document.getElementById("about-company-option").style.display = "block";
                document.getElementById("about-company-option").style.height = "30%";
                document.getElementById("about-company-option-label").style.height = "100%";
                document.getElementById("about-company-option").style.opacity = 1.0;
                
                document.getElementById("track-order-option").style.height = "30%";
                
                
                document.getElementById("track-order-option-content").style.height = 0;
                document.getElementById("track-order-option-content").style.opacity = 0;
                setTimeout(function(){
                    document.getElementById("track-order-option-content").style.display = "none";
                }, 500);
                
                menuLogic.optionCurrentlyOpen = false;
            });
            
            buttons[6].addEventListener("click", function(){
                if(menuLogic.optionCurrentlyOpen){
                    let previous = menuLogic.currentOptionName;
                    document.getElementById(previous).style.height = 0;
                    document.getElementById(previous).style.opacity = 0;
                     setTimeout(function(){
                         document.getElementById(previous).style.display = "none";
                     }, 500);
                }
                document.getElementById("about-company-option-content").style.display = "block";
                document.getElementById("about-company-option-content").style.opacity = 1.0;
                document.getElementById("about-company-option-content").style.height = "80%";
                document.getElementById("about-company-option-label").style.height = "20%";
                
                document.getElementById("about-company-option").style.height = "100%";
                menuLogic.currentOptionName = "about-company-option-content";
                
                let option = document.getElementById("track-order-option");
                option.style.height = 0;
                option.style.opacity = 0;
                setTimeout(function(){
                    option.style.display = "none"
                }, 500);
                
                menuLogic.optionCurrentlyOpen = true;
            });
            
            buttons[5].addEventListener("click", function(){
                if(menuLogic.optionCurrentlyOpen){
                    let previous = menuLogic.currentOptionName;
                    document.getElementById(previous).style.height = 0;
                    document.getElementById(previous).style.opacity = 0;
                     setTimeout(function(){
                         document.getElementById(previous).style.display = "none";
                     }, 500);
                }
                document.getElementById("track-order-option-content").style.display = "block";
                document.getElementById("track-order-option-content").style.opacity = 1.0;
                document.getElementById("track-order-option-label").style.height = "20%";
                document.getElementById("track-order-option-content").style.height = "80%";
                
                document.getElementById("track-order-option").style.height = "100%";
                menuLogic.currentOptionName = "track-order-option-content";
                
                let option = document.getElementById("about-company-option");
                
                option.style.height = 0;
                option.style.opacity = 0;
                setTimeout(function(){
                    option.style.display = "none"
                }, 500);
                
                menuLogic.optionCurrentlyOpen = true;
            });
            
            
            buttons[4].addEventListener("click", function(){
                if(menuLogic.menuCurrentlyOpen){
                    pages[4].style.height = 0;
                    pages[4].style.opacity = 0;
                    
                    setTimeout(function(){
                        pages[4].style.display = "none";
                    }, 500);
                    
                    menuLogic.menuCurrentlyOpen = false;
                }
                else{
                    pages[4].style.display = "block";
                    pages[4].style.height = "100%";
                    pages[4].style.opacity = 1.0;
                    
                    menuLogic.menuCurrentlyOpen = true;
                }
            });
            
            
            
            buttons[3].addEventListener("click", function(){
                pages[2].style.height = 0;
                pages[2].style.opacity = 0;
                
                pages[1].style.display = "block";
                pages[1].style.opacity = 1.0;
                pages[1].style.height = "100%";
                
                setTimeout(function(){
                    pages[2].style.display = "none";
                }, 500);
            });
            
            buttons[2].addEventListener("click", function(){
                pages[1].style.opacity = 0;
                pages[1].style.height = 0;

                pages[2].style.display = "block";
                pages[2].style.opacity = 1.0;
                pages[2].style.height = "100%"

                setTimeout(function(){
                    pages[1].style.display = "none";
                }, 500);
            });
            
            buttons[1].addEventListener("click", function(){
                mediaContainer[0].pause();
                mediaContainer[0].style.opacity = "0";
                mediaContainer[1].style.backgroundImage = "url('../media/img/annesflowershop.gif')";
                buttons[0].style.display = "block";
                buttons[0].style.opacity = 1.0;
                this.style.opacity = 0;
                setTimeout(function(){
                    buttons[1].style.display = "none";
                    mediaContainer[0].style.display = "none";
                }, 500);
                videoLogic.isPlaying = false;
            })
            
            buttons[0].addEventListener("click", function(){
                if(videoLogic.isPlaying){
                    mediaContainer[0].style.opacity = "0";
                    setTimeout(function(){
                        mediaContainer[0].style.display = "none";
                    }, 500);
                    videoLogic.isPlaying = false;
                }
                else{
                    mediaContainer[0].style.display = "block";
                    mediaContainer[0].style.opacity = 1.0;
                    mediaContainer[1].style.backgroundImage = "none";
                    mediaContainer[1].style.backgroundColor = "rgba(255, 255, 255, 0)";
                    
                    mediaContainer[0].play();
                    buttons[1].style.display = "block"
                    buttons[1].style.opacity = 1.0;
                    
                    this.style.opacity = 0;
                    setTimeout(function(){
                        mediaContainer[0].requestFullscreen();
                        buttons[0].style.display = "none";
                    }, 500);
                    
                    videoLogic.isPlaying = true;
                }
                console.log("clicking");
            });
            
            
            
            
        });    
    </script>
</head>
<body>
    <div id="main-app-container">
        <div id="page-0-container" class="page-container">
            <div id="logo-container">
                <div id="logo-container-symbol"></div>
                <div id="logo-container-label"></div>
            </div>
        </div>
        <div id="page-1-container" class="page-container">
            <div id="store-title-container">
                <div id="menu-item-container"></div>
                <div id="title-line-0-container" class="title-line-container">ANNE's</div>
                <div id="title-line-1-container" class="title-line-container">FLOWER SHOP</div>
                <div id="checkout-cart-button-container"></div>
            </div>
            <div id="video-preview-container">
                <div id="video-preview-button-container">&#x25b6;</div>
                <video id="video-container" width="360" height="270" controls>
                  <source src="../media/vid/sample_video_0.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                <div id="exit-video-preview-button-container">x</div>
            </div>
            <div id="begin-order-button-container">order now</div>
        </div>
        <div id="page-2-container" class="page-container">
            <div id="paypal-payment-container">
            </div>
            <form id="payment-cover-container" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Z38QUZ9U4UYLU">
                <table id="table-title-container">
                <tr><td ><input type="hidden" name="on0" value="Type">Type</td></tr><tr><td><select name="os0" id="table-container">
                    <option value="Base Package">Base Package $59.99 USD</option>
                    <option value="Deluxe Package">Deluxe Package $99.99 USD</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input id="submit-button-row-container" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <div id="exit-payment-module-button-container">back</div>
        </div>
        <div id="page-overlay-container" class="page-container">
            <div id="track-order-option" class="option-container">
                <div id="track-order-option-label" class="option-label">
                    track
                </div>
                <div id="track-order-option-content" class="option-content">
                    <p class="content-container">
                        exit this menu and click on the cart icon to track an order in progress
                    </p>
                    <p id="track-order-tap-to-close-button-container" class="tap-to-close-button-container">
                        tap to close
                    </p>
                </div>
            </div>
            <div id="about-company-option" class="option-container">
                <div id="about-company-option-label" class="option-label">
                    about
                </div>
                <div id="about-company-option-content" class="option-content">
                    <p class="option-content-section">
                        Anne's Flower Shop is the world's first blockchain-supported market for cARds.
                    </p>
                    <p class="option-content-section">
                        Use it for business, family and friends, or personal adventure. The world is your desktop and your hand is the mouse!
                    </p>
                    <p id="about-company-tap-to-close-button-container" class="tap-to-close-button-container">
                        tap to close
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>